.form-disabled-label {
	opacity: .3;
}

.form-label-date {
	
}

.form-label-exams-date {
	color: grey;
}

.form-label-exam-date-manual {
	color: grey;
}

.form-label-date-manual {
	
}

.form-legend-exams {
	color: grey;
	font-style: italic;
}